body{
    margin: 0;
    background-color: #6b6b6b;
}

.header{
    background-color: #404040;
    padding: 20px;
    margin: 0;
}

.header h3{
    text-align: center;
	color: blue;
}


.header h3 a:hover{
    color: #dbdbdb;
}

#main_img{
    background: url(images/main_img.jpg) no-repeat fixed;
    height: 500px;
}

.info{
    padding: 100px;
}

.card{
    margin-left: 5%;
    display: inline-block;
    border-color: black;
    background-color: #0b0b9985;
    border-width: 1px;
    width: 90%;
    height: 300px;
    border-radius: 30px;
}

.card_content{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.card_title{
    color: black;
}

#copyright{
    background-color: #404040;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
}

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	color: #000;
    background-color: #404040;
	text-decoration: none;
	padding: 5px;
}

.socialbtns{
    background-color: #404040;
    margin-bottom: -19px;
}

.socialbtnsbtnsbtns, .socialbtnsbtnsbtns ul, .socialbtnsbtnsbtns li {
	margin: 0;
	padding: 5px;
}

.socialbtnsbtnsbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	color: #FFF;
	text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-webkit-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-moz-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	-o-text-shadow: 1px 1px 0px #000,
			1px -1px 0px #000,
			-1px 1px 0px #000,
			-1px -1px 0px #000;
	transition: all ease-out 0.5s;
	-moz-transition: all ease-out 0.5s;
	-webkit-transition: all ease-out 0.5s;
	-o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
	color: #000;
	text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-webkit-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-moz-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	-o-text-shadow: 1px 1px 0px #fff,
			1px -1px 0px #fff,
			-1px 1px 0px #fff,
			-1px -1px 0px #fff;
	transition: all ease 0.5s;
	-moz-transition: all ease-in 0.5s;
	-webkit-transition: all ease-in 0.5s;
	-o-transition: all ease-in 0.5s;
}

.space{
    background-color: #404040;
    padding: 10px;
}
