body{
    margin: 0;
    
}

.header{
    background-color: #404040;
    padding: 20px;
    margin: 0;
}

.header h3{
    text-align: center;
}

.header h3 a{
    text-decoration: none;
    color: aqua;
}

.header h3 a:hover{
    color: #dbdbdb;
}

#main_img{
    background: url(images/main_img.jpg) no-repeat fixed;
    height: 400px;
}