@media only screen and (max-width: 600px) {
    .card-contact {
      margin-top: 60%;
    }
    .card{
      margin-bottom: 20%;
    }
}

@media only screen and (max-width: 900px) {
    .icons {
      width: 120px;
    }
    .icons:hover {
      width: 120px;
    }
    #it{
      margin-left: 30%;
    }
}